* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

@media only screen and (max-width: 450px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
    margin-right: 20px;
    margin-top: 13px;
  }

  .header h1 {
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    color: #28352f;
  }

  .main1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-repeat: no-repeat;
    background-image: url("/image/header-illsutration-mobile.svg");
  }

  .wrap-content {
    margin: 10px 20px;
    padding: 33px;
  }

  .intro {
    padding-top: 20px;
    text-align: center;
  }

  .intro h1 {
    font-weight: 800;
    font-size: 39px;
    color: #172b4d;
  }

  .intro .prof {
    color: #36b37e;
  }

  .intro p {
    font-size: 18px;
    margin-top: 80px;
    color: #172b4d;
  }

  .social-media {
    padding: 40px;
    margin-top: 28px;
  }

  .social-media ul {
    display: flex;
    justify-content: space-evenly;
  }

  .desc li {
    list-style: none;
    padding: 5px 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    color: #3a4a42;
    margin: 4px;
    background-color: #ebf0ee;
    border-radius: 4px;
  }

  .card li {
    list-style: none;
    padding: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    color: #36b37e;
    margin: 4px;
    background-color: white;
    border-radius: 4px;
  }

  .social-media ul li {
    list-style: none;
  }

  .social-media ul li a {
    color: #505f79;
  }

  .down-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .main2 {
    display: grid;
    grid-row-gap: 10px;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  .title h2 {
    font-size: 40px;
    font-weight: 700;
    padding: 10px;
    color: #172b4d;
    text-align: center;
  }

  .title .end-line {
    background-color: #36b37e;
    width: 48px;
    height: 4px;
    margin: 30px;
    border-radius: 20px;
  }

  .project-container {
    margin-left: 24px;
    margin-right: 24px;
    background: #ebf0ee;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    overflow: auto;
  }

  .project-container img {
    overflow: auto;
    max-width: 100%;
  }

  .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 8px;
  }

  .desc h3 {
    padding: 15px;
    color: #3a4a42;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }

  .desc ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .desc button {
    padding: 12px;
    margin: 20px;
    color: white;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    background: #36b37f;
    border: #36b37f;
    border-radius: 4px;
  }

  .main3 {
    height: 47vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 40px;
    background: url("/image/mei.png") bottom left no-repeat,
      url("/image/duck.png") top right no-repeat;
  }

  .main3 h1 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #172b4d;
  }

  .main3 p {
    margin: 20px;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
  }

  .main3 button {
    padding: 12px;
    margin: 20px;
    color: white;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    background: #36b37f;
    border: #36b37f;
    border-radius: 4px;
  }

  .card-info {
    display: grid;
    grid-row-gap: 20px;
  }

  .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 24px;
    margin-right: 24px;
    background: #ebf0ee;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .card img {
    margin: 20px 1px;
    padding: 20px;
  }

  .card h1 {
    font-weight: 600;
    font-size: 24px;
    color: #344563;
    margin: 20px 1px;
  }

  .card ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
  }

  .main4 {
    border: red dotted 4px;
    margin: 24px;
  }

  .main4 h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #172b4d;
    text-align: center;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
  }
  .contact-form input {
    margin: 10px 0px;
    padding: 15px 16px;
    border: 1px solid #d0d9d4;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .contact-form textarea {
    padding: 12px 10px;
    margin: 10px 0px;
    border: 1px solid #60c095;
  }
  
}
